.buttonCreateTask {
   display: flex;
   padding: 1rem;

   gap: 0.5rem;
   align-items: center;

   border: 0;
   border-radius: 8px;

   font-weight: bold;
   font-size: 0.875rem;
   font-family: 'Inter', sans-serif;

   color: var(--gray-100);
   background: var(--blue-dark);

   cursor: pointer;
   transition: background 0.1s;
}

.buttonCreateTask:hover {
   background: var(--blue);
}

@media (max-width: 768px) {
   .buttonCreateTask span {
      display: none;
   }
}