.input {
   display: flex;
   width: 100%;

   border: 0;
   border-radius: 8px;
   
   padding: 1rem;
   line-height: 140%;

   color: var(--gray-100);
   background: var(--gray-500);
   box-shadow: 0 0 0 1px var(--gray-700);
}